<!-- include header -->
<%- include('./include/header')%>


    <!-- main section -->
    <main id="site-main">
      <div class="container">
        <div class="box-nav d-flex-justify-between">
          <a href="/add-user" class="border-shadow">
            <span class="text-gradient">
              New User <i class="fas fa-user"></i>
            </span>
          </a>
        </div>

        <form action="/" method="post">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>@Email</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(user =>{ %>
                <tr>
                  <td><%= id+=1%></td>
                  <td><%= user.name%></td>
                  <td><%=user.email%></td>
                  <td><%=user.gender%></td>
                  <td><%=user.status%></td>

                  <td>
                    <a href="/update-user" class="btn border-shadow update">
                      <span class="text-gradient"
                        ><i class="fas fa-pencil-alt"></i
                      ></span>
                    </a>
                    <a class="btn border-shadow delete">
                      <span class="text-gradient"
                        ><i class="fas fa-trash"></i
                      ></span>
                    </a>
                  </td>
                </tr>
              <%}) %> 
            </tbody>
          </table>
        </form>
      </div>
    </main>
  </body>
</html>

