<!-- include header -->
<%- include('./include/header')%>

<!-- main section -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex-justify-between">
      <div class="filter">
        <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
      </div>
    </div>

    <div class="form-title text-center">
      <h2 class="text-dark">Update User</h2>
      <div class="text-light">Update user by filling the following form</div>
    </div>

    <!-- Form Handling -->
    <form action="/update-user-confirmation" method="POST" id="update-user">
      <div class="new_user">
        <div class="form-group">
          <label for="name" class="text-light">Name</label>
          <input type="hidden" name="id" value="<%= user._id%>" />
          <input
            type="text"
            name="name"
            value="<%= user.name%>"
            placeholder="Write a name..."
          />
        </div>
        <div class="form-group">
          <label for="email" class="text-light">Email</label>

          <input
            type="text"
            name="email"
            value="<%= user.email%>"
            placeholder="Write an email address..."
          />
        </div>

        <div class="form-group">
          <label for="gender" class="text-light">Gender</label>

          <div class="radio inline">
            <input type="radio" id="male" name="gender" value="male" <%=
            user.gender ==='male' ? 'checked' : ''%>/>
            <label for="male" class="radio-label">Male</label>
          </div>
          <div class="radio inline">
            <input type="radio" id="female" name="gender" value="female" <%=
            user.gender ==='female' ? 'checked' : ''%>/>
            <label for="female" class="radio-label">Female</label>
          </div>
        </div>

        <div class="form-group">
          <label for="gender" class="text-light">Status</label>

          <div class="radio inline">
            <input type="radio" id="active" name="status" value="active" <%=
            user.status ==='active' ? 'checked' : ''%>/>
            <label for="active" class="radio-label">Active</label>
          </div>
          <div class="radio inline">
            <input type="radio" id="inactive" name="status" value="inactive" <%=
            user.status ==='inactive' ? 'checked' : ''%>/>
            <label for="inactive" class="radio-label">Inactive</label>
          </div>
        </div>

        <div class="form-group">
          <button class="btn text-dark update">Save</button>
        </div>
      </div>
    </form>
  </div>
</main>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
  crossorigin="anonymous"
></script>
<script src="/js/index.js"></script>
